@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeueCyr-Medium.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --white: #cbcbcb;
    --yellow: #c7c20e;
    --gray: #a8a8a8;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'HelveticaNeue', sans-serif;
    line-height: 1.5;
    
}

a{
    text-decoration: none;
    color: var(--white);
}

li{
    list-style: none;
}

#wrapper{
    color: var(--white);
}

.container{
    display: grid;
    max-width: 1680px;
    margin: 0 auto;
    padding: 0.2rem;
}

/* Styles for header */

#header{
    background-image: url(../img/main-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--white);
}

.hgroup{
    display: grid;
    text-align: center;
    height: 82vh;
    grid-template-columns: 1fr 1fr;
}

.head-element{
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
}

.head-element-left{
    margin-right: auto;
    margin-bottom: auto;
}

.head-element-left::after{
    content: "";
    margin-top: 100px;
    margin-left: 140px;
    height: 400px;
    width: 2px;
    background-color: var(--yellow);
    display: block;
    
}

.head-element-right{
    margin-left: auto;
    margin-top: auto;
}

.head-element-right::before{
    content: "";
    margin-bottom: 110px; 
    margin-left: 300px;
    height: 500px;
    width: 2px;
    background-color: var(--yellow);
    display: block;
}

/* Styles for navigation */

.navbar{
    margin-top: 0.7rem;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}

.navbar-link-brand{
    float: left;
    margin-right: 2.5rem;
}

#main-nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#main-nav a:hover {
    color: var(--yellow);
    transition: 0.3s;
}

.navbar-link-toggle{
    display: none;
}

/* Styles for #section1 */

#section1{
    background-image: url(../img/second-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-bottom: 3px solid #2f2d2b;
    display: grid;
    padding-top: 3rem;
    grid-row-gap: 1rem;
    height: 100vh;
}

.section-head-element{
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.stripe{
    margin: auto;
    color: var(--yellow);
    margin-bottom: 0.7rem;
    height: 2px;
}

.stripe-1-big{
    width: 28rem;
}

.stripe-1-small{
    width: 21rem;
}

.container-for-row{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    margin: 5rem auto; 
    grid-column-gap: 10rem;
    font-size: 1.5rem;
}

.container-box{
    display: grid;
    text-align: center;
}

.container-box img{
    margin: auto;
}

.stripe-2-big{
    width: 23rem;
}

.stripe-2-small{
    width: 15rem;
    margin-bottom: 3rem;
}

.text-section-1{
    padding: 0 7px;
    font-size: 2rem;
    font-weight: 100;
}

.text-section-1-left{
    border-left: 2px solid var(--yellow);
    margin-right: auto;
    text-align: left;
    margin-bottom: 1.5rem;
}

.text-section-1-right{
    border-right: 2px solid var(--yellow);
    margin-left: auto;
    text-align: right;
}



/* Styles for #section2 */

#section2{
    background-image: url(../img/third-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-bottom: 4px solid #353636;
    padding-top: 3rem;
}

.head-2{
    /*border-left: 2px solid var(--yellow);
    border-right: 2px solid var(--yellow);
    margin: auto;*/
    padding: 0 15px;
    display: inline-block;
    margin-bottom: 1rem;
}

.head-2::before,
.head-2::after
{
    background-color: var(--yellow);
    content: "";
    height: 2rem;
    width: 2px;
    display: inline-block;
}

.button-rows,
.table-grid
{
    margin-left: 200px;
}

.table-grid{
    display: grid;
    font-size: 1.5rem;
    margin-bottom: 10vh;
} 

.grid-row{
    display: grid;
    grid-template-columns: 1fr 80px;
    align-items: center;
}

.left-side{
    cursor: pointer;
}

.right-side{
    justify-self: center;
}

.small-text{
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.overlay {
    display: none;
    position: fixed;
    top: 5vh;
    left: 40vw;
    right: 40vw;
    bottom: 5vh;
    background: rgba(0,0,0,0.8);
    font-size: 2rem;
    border: 2px solid var(--yellow);
}

.overlay.active{
    display: block;
}

.overlay-content{
    margin: auto;
}

.overlay-head-element{
    font-size: 3rem;
    margin: 30px auto;
    color: var(--yellow);
    text-align: center;
}

.close{
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    text-align: center;
    border-bottom: 1px solid var(--yellow);
    margin-left: 40px;
    margin-top: 20px;
}

.overlay-form{
    display: inline-block;
    width: 50vw;
    margin-left: 40px;
    text-align: left;
}

.overlay-form-name{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.overlay-fieldset{
    border: 0;
    margin-bottom: 50px;
}

.overlay-btn{
    text-align: center;
    padding: 7px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--yellow);
    border-radius: 10px;
}

.overlay-btn:hover{
    color: var(--yellow);
    transition: 0.5s;
}

.hidden{
    display: none;
}

.btn:focus{
    color: var(--yellow);
}

/*
.left-row::after{
    content: "";
    height: 10px;
    width: 10px;
    background-color: var(--yellow);
    border-radius: 50%;
    display: block;
}

.right-row::before{
    content: "";
    height: 10px;
    width: 10px;
    background-color: var(--yellow);
    border-radius: 50%;
    display: inline-block;
}
*/

.btn{
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    margin-right: 3rem;
}

.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
 }

.btn:hover{
    border-bottom: 2px solid var(--yellow);
}


#section3, 
#section4,
#section5{
    color: var(--white);
    background-image: url(../img/sikkema.jpg);
    padding-top: 3rem;
}

/* Styles for #section 3 */

#section3{
    border-bottom: 3px solid #3a3a3b;
}

.head-3::before,
.head-3::after
{
    background-color: var(--yellow);
    content: "";
    height: 2rem;
    width: 2px;
    display: inline-block;
}

/* Styles for #section 4 */

#section4{
    border-bottom: 3px solid #9c9c9d;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

.stripe-3-big{
    width: 34rem;
}

.stripe-3-small{
    width: 20rem;
    margin-bottom: 4rem;
}

.comments{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.comment{
    margin: auto;
    text-align: center;
}

.round-image{
    border-radius: 50%;
}

.user-name{
    color: var(--yellow);
    display: block;
}

.user-name:hover{
    transform: translateY(1px);
    filter: saturate(150%);
}

.comment-text{
    height: 200px;
}

/* Styles for #section 5 */

#section5{
    border-bottom: 5px solid var(--yellow);
    font-size: 1.5rem;
}

.head-5{
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#form{
    display: grid;
    width: 50vw;
    margin: auto;
}

.form-name{
    text-align: center;
}

.container-for-labels{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.label{
    margin: auto;
    text-align: center;
}

input{
    font-size: 1.5rem;;
}

.fieldset{
    display: grid;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    border: 5px solid white;
    margin-bottom: 1rem;
}

.btn-sbm{
    width: 200px;
    margin: auto;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--yellow);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.btn-sbm:hover{
    color: var(--yellow);
}

/* Footer */

#footer{
    background-color: #1e1e1e;
    color: var(--white);
    font-size: 1.5rem;
}

.container-for-three-parts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.left-part{
    margin: auto;
}

.center-part{
    margin: auto;
}

.right-part{
    
}

.container-for-two{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.footer-navbar-link a:hover{
    color: var(--yellow);
    transition: 0.5s;
}

#footer-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.brands{
    color: var(--white);
    
}

.bottom-part{
    font-size: 1rem;
    margin: auto;
}


@media (min-height: 1100px) {

}






